@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$colorPrincipal: #2F3A56;
$bg_login: #D8E8E8;
$sombra:  5px 5px 20px #222;



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

a{
    text-decoration: none;
}

/*TEMPORAL*/
body{
    background: url("../images/hospital.jpg");
    background-size: cover;
}
/*+-+-+-+-+-+-+-+-+-+-+*/