.information_index{
    width: 100vw;
    height: 95vh;
    background: url("../images/hospital.jpg");
    background-size: cover;
    position: relative;

    .tittle{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-40%);
        background: $colorPrincipal;
        color: $colorTexto;
        padding: 3%;
        border-radius: 20px;
    }
}