.menuLateral{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 95vh;
    background: $colorPrincipal;
    justify-content: space-around;
    color: $bg_login;
    align-items: left;
    box-shadow: $sombra;
    h1{
        text-align: center;
    }
    li{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 0 10px 0;
        a{
            color: $bg_login;
            padding: 10px 0 10px 0px;
            text-align: center;
            font-size: 2.5vh;
        } 
        a:hover{
            color: $colorPrincipal;
            background: $bg_login;
            box-shadow: $sombra;
            transition: .5s all;
        }
    }
    .logOut{
        color: #fff;
        padding: 15px;
        margin: 0 10px;
        border-radius: 20px;
        text-align: center;
        background: red;
    }
    .logOut:hover{
        box-shadow: $sombra;
    }

}